#facebook {
	#u_0_j,
	 {
		filter: invert(88%);
	}

	body {
		[id='fbRTC/scrollBox'] {
			filter: invert(88%);
		}
	}

	// lightbox
	._n8._3qx.uiLayer._3qw {
		filter: invert(100%) !important;

		a[aria-label="photo"],
		img {
			filter: none !important;
		}
	}

	div._42rl {
		filter: none !important;
	}

	[aria-label="Messages"] {
		._3058._ui9._hh7._6ybn._s1-._52mr._43by._3oh- {
			color: black;
			background: @orange;
		}
	}

	i.img,
	._3xn1,
	._1n9l,
	._iuw,
	span[title="Delivered"],
	svg,
	[style*="background:"],
	[style*="background-image:"],
	._30yy,
	._2a45._fy2,
	[aria-label="Messages"] [data-testid="animated_image"] {
		filter: invert(100%);
	}

	img._mxz.img {
		filter: none;
	}

	._chh {
		background: white !important;
	}

	._4uwq.endCall {
		background: @cyan;
	}

	[id*="u_fetchstream"] {
		video {
			filter: invert(100%);
		}
	}
}
