// generic wiki
body.mediawiki {
	li:not(.new) a:not(.new),
	label,
	a {
		color: @orange !important;
	}

	table th {
		background-color: #e0e0e0 !important;
		color: black !important;
	}

	svg {
		filter: invert(100%);
	}
}
